.container__hero {
    position: relative;
  .hero__img {
    margin-top: -50px;
    background-size: cover;
    height: 300px;
    z-index: 0;

  }

  .hero__content {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding:20px;
    background-color: white;

    &__subtitle{
        font-weight: bold;
    }
  }
}
